<h1 class="text-info">Welcome to your local URL shortener</h1>

<% if (userObject) { %>
  <p>Welcome, <strong class="text-warning"><%= userObject.id %></strong>!</p>
  <form method="POST" action="/logout">
    <button>Logout</button>
  </form>

<% } else { %>

<a href="/register">Register here!</a>
<br>
<a href="/login">Login</a>

<% } %>


