<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<header>
  <% include ./partials/_header %>
</header>
  <div style="margin-left: 20px; margin-top: 20px">
  <h2 class="text-secondary">ShortURL: <strong><%= shortURL %> </strong></h2>
    <br>
    <ul>
      <li>
        <%= urlDatabase[shortURL]["longURL"] %>
        <form method="POST" action=<%= `/urls/${shortURL}` %>>
          <label for="longURL" class="text-info">Enter a new URL:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
          <button>edit</button>
        </form>
      </li>
  </ul>
  </div>
</body>
</html>