<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<header>
  <% include ./partials/_header %>
</header>

  <h1>List of URLs</h1>
    <ul>
      <% for (var item in urls) { %>
        <li><%= item %> - <%= urls[item] %> - <href='#'></a>
        <form method="POST" action=<%= `/urls/${item}/delete` %>><button>delete</button></form>
        </li>
      <% }; %>
  </ul>
</body>
</html>