<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<header>
  <% include ./partials/_header %>
</header>

  <h2>ShortURL: <%= shortURL %> </h2>
    <ul>

        <li>
          <%= longURL[shortURL] %> - <%= shortURL %>
          <form method="POST" action=<%= `/urls/${shortURL}` %>>
            <label for="longURL">Enter a new URL:</label>
            <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
            <button>edit</button>
          </form>
        </li>

  </ul>
</body>
</html>