<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<header>
  <% include ./partials/_header %>
</header>

  <h3 class="text-secondary">List of URLs</h3>
    <ul>
      <% for (var item in urlDatabase) { %>
        <li><strong class="text-info"><%= item %></strong> - <%= urlDatabase[item].longURL %> - <a href=<%= `/urls/${item}` %> class="text-info" >edit</a>
        <form method="POST" action=<%= `/urls/${item}/delete` %>><button>delete</button></form>
        </li>
      <% }; %>
  </ul>
</body>
</html>